<div class="container">
  <h3>Recipes:</h3>

  <select (change)="onChange($event.target.value)">
  <option value="allRecipes">All Recipes</option>
  <option value="coocked">Coocked Recipes</option>
  <option value="non-cooked">Not coocked Recipes</option>
</select>

  <ol>
    <li [class]="deliciousnessColor(recipe)" *ngFor="let recipe of childRecipeList | coocked: filterByCoocked"><span class="bold">{{recipe.name}}</span>  <button (click)="editButtonClicked(recipe)">Edit!</button>
      <ul>
        <li>Ingredients: {{recipe.ingredients}}</li>
        <li>Directions: {{recipe.directions}}</li>
      </ul>
      <input *ngIf="recipe.coocked === true" type="checkbox" checked (click)="toggleCooked(recipe, true)"/>
      <input *ngIf="recipe.coocked === false" type="checkbox" (click)="toggleCooked(recipe, true)"/>
      <button (click)="editButtonClicked(recipe)">Edit!</button>
      <br>
    </li>
  </ol>
</div>
